@use '../../styles/variables.scss' as v;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: v.$globalHeaderHeight;
  background-color: var(--theme-primary-color);
  color: white;

  .corner {
    height: 24px;
    line-height: 24px;
    font-size: 12px;

    a {
      color: white;
    }

    &.left {
      margin-left: 20px;
    }

    &.right {
      margin-right: 20px;
    }
  }
}
