.container {
  display: flex;
  padding: 26px;
  font-size: 18px;
  font-weight: 700;
  background-color: white;

  a {
    color: #333333;
    border-radius: 4px;
    margin: 0 4px;

    &:hover {
      color: black;
      background-color: #f9f9f9;
    }

    &.active {
      color: black;
      background-color: #f5f5f5;
    }

    li {
      margin: 10px 16px;
      cursor: pointer;
    }
  }
}
