.block {
  display: flex;
  padding: 80px 0;
  align-items: flex-start;
  justify-content: center;

  &:nth-child(odd) {
    background-color: white;

    .text {
      margin-left: 120px;
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    background-color: #f5f5f5;

    .text {
      margin-right: 120px;
    }
  }

  .text {
    width: 500px;
    margin-top: 60px;

    h3 {
      font-size: 28px;
      font-weight: 500;
    }
  }
}
